{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
	
	{{super()}}

	<link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}">
	
{% endblock %}





{% block content %}

 {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
            <div class="alert alert-info">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
  {% endwith %}

      
<div class="container">
    <!--<br/><br/><br/>-->
    
    
    


    {% block page_content %}{% endblock %}
</div>
{% endblock %}


