
{% extends "base.html" %}
{% block title %}Filter{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='/css/jquery-ui.css') }}" rel="stylesheet">


<link href="{{url_for('.static', filename='/css/bootstrap-combined.min.css')}}" rel="stylesheet">

{% endblock %}

{% block scripts %}

 {{super()}}
 <!--Datepicker starts-->
  <script src="{{ url_for('static', filename='/js/jquery-ui.js') }}"></script>
  



  <script>
     (function() {
        var elem = document.createElement('input');
        elem.setAttribute('type', 'date');
   
        if ( elem.type === 'text' ) {
           $('.date').datepicker({ 
    dateFormat:'yy-mm-dd',
    changeMonth: true,
    changeYear: true});
        }
     })();
 
  </script>
 <!--Datepicker ends-->
 
 <!--Tooltip-->
 
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
  </script>

 <!--Show/Hide table td-->
  <script type="text/javascript">
    $(document).on('change', 'table thead input', function() {
    var checked = $(this).is(":checked");

    var index = $(this).parent().index();
        $('table tbody tr').each(function() {
            if(checked) {
                $(this).find("td").eq(index).show();   
            } else {
                $(this).find("td").eq(index).hide();   
            }
        });
    });
  </script>

  <!--Pagination script-->
  <script src="{{url_for('.static', filename='/js/bootstrap-paginator.js')}}"></script> 


  <!--Pagination Script-->
  {% if results!=None%}
  <script type='text/javascript'>                         
        var options = {
            currentPage: {{results.page}},
            totalPages: {{results.pages}},
            numberOfPages: 10,
            size:'normal',
            pageUrl: function(type, page, current){

                return "/filter/"+page+"?fromTime={{fromTime}}&toTime={{toTime}}";

            }

        }

        $('.pagination').bootstrapPaginator(options);
    </script>

    
{% endif %}     
    
{% endblock scripts %}

{% block navbar %}
   

    
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        
        {% if current_user.is_authenticated()%}     <!--To hide navbar contents on login page-->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" ><p><img width="20" height="20" src="{{ url_for('static', filename='/img/favicon.ico') }}"> RPi</p></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              
              <li><a href="/home">Home</a></li>
              <li class="active"><a href="/filter">Filter</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
	              
	                <li>
	               	 	<a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
	                </li>
	            </ul>
              
          </div>
        {% endif %}
      </div>
    </nav>

 
{% endblock %}


{% block page_content %}



<div class="container">


  {% if results==None or results.page==1%} 
  
      <div class="page-header">
        <h2 >Filter</h2>
      </div>
    
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}

      {% if results.pages == 0 %}
          <div class="col-xs-12 col-xs-offset-2 col-sm-offset-3">
          <h4><span class="label label-default">Query returned 0 results</span></h4>
        </div>
      
      {% endif %}
</div>

<!-- Debug code

<h1 class="visible-xs">xs</h1>
<h1 class="visible-sm">sm</h1>
<h1 class="visible-md">md</h1>
<h1 class="visible-lg">lg</h1>
and results.pages > 1 
-->
<div class="container">

  <b ><h3>From</h3></b> 


  <div class="container">

    <form class="form" role="form">
      <div class="row" >
      
        <div class="col-xs-12 col-sm-2">
          <div class="form-group">
          <label for="fromDate">Date:</label>
              
              <input type="date" class="form-control date" id="fromDate" name="fromDate" value="{{ fromDate }}" required placeholder="yyyy-mm-dd"> 
          </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
          <div class="form-group">
            <label for="sel1">Hour:</label>
            <select name="fromHour" class="form-control" id="sel1" >
              {% for i in range(0,24) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Min:</label>
              <select name="fromMin" class="form-control" id="sel1" >
                {% for i in range(0,60) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
    </div>  

  <b ><h3>To</h3></b> 

  <div class="container">
   
      <div class="row" >
      
        <div class="col-xs-12 col-sm-2">
            <div class="form-group">

              <label for="toDate">Date:</label>
              <input type="date" class="form-control date" id="toDate" name="toDate"  value="{{ toDate }}" required placeholder="yyyy-mm-dd"> 
            </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Hour:</label>
              <select name="toHour" class="form-control" id="sel1" >
                {% for i in range(0,24) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Min:</label>
              <select name="toMin" class="form-control" id="sel1" >
                {% for i in range(0,60) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
  </div>  


     
      <div class="container">
        <div class="row">
          <div class="col-md-2">
              <button type="submit" formmethod="post"  class="btn btn-default" >Submit</button>
          </div>
      </div>
    </div>
    </form>
  </div>
 


{%endif%}

{% if  results != None and results.pages !=0 %}
 
<div class="container">
  <div class="page-header">
    <h2 >Data</h2>
  </div>
  </div>

  <div class="container">
    <div class="pull-right">
      <div class="pagination"></div>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      

        <table class="table table-hover table-bordered" style="text-align:center; vertical-align:middle;">
        <tbody>
          <tr  id="style1">
             <td>#</td>
             <td >Time</td>
             <td>Consumption</td>
          </tr>

      {%if results != None%}
          {% set cntr = 1 %}
          
          {% for result in results.items %}
       
          <tr>
            <td >

              {{ (results.page-1)* results.per_page +cntr }}

            </td>
            
            <td  class="test" href="#" data-toggle="tooltip" data-placement="top" title="Time"data-container="body" >

              {{ result.time }}
            
            </td>

            <td class="test" href="#" data-toggle="tooltip" data-placement="top" title="Power Consumption" data-container="body">
              
              {{ result.power}}

            </td>

            
          </tr>
          {% set cntr = cntr+1 %}
          {% endfor %}
      {% endif %}
        </tbody>
      </table>
      
    </div>
</div> 
  <nav>
   
  <div class="container">
    <div class="pull-right">
      <div class="pagination"></div>
    </div>
  </div>



{%endif%}
  

{% endblock %}
